# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

scan_timeout = 100

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true

[nix_shell]
disabled = true
